<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="script" type="xstring" value="# Examples:%%00010# 1. Calculate the sine of values in column &quot;My Column&quot;:%%00010#  sin($[&quot;My Column&quot;])%%00010# 2. Divide column values by a flow variable:%%00010#  $[&quot;My Column&quot;] / $$[&quot;My Flow Variable&quot;]%%00010# 3. Concatenate strings using the + operator:%%00010#  substring($[&quot;firstname&quot;], 1, 1) + &quot;. &quot; + $[&quot;lastname&quot;]%%00010# 4. Difference between adjacent rows:%%00010#  $[&quot;My Column&quot;] - $[&quot;My Column&quot;, -1]%%00010#%%00010# If you need help, try the &quot;Ask K-AI&quot; button,%%00010# or have a look at the node description!%%00010$[&quot;mobile_internet&quot;] *1000000000 / $[&quot;population&quot;]"/>
        <entry key="columnOutputMode" type="xstring" value="APPEND"/>
        <entry key="createdColumn" type="xstring" value="mob_internet_per_capita_gb"/>
        <entry key="replacedColumn" type="xstring" value="country"/>
        <entry key="languageVersion" type="xint" value="1"/>
        <entry key="builtinFunctionsVersion" type="xint" value="1"/>
        <entry key="builtinAggregationsVersion" type="xint" value="1"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.expressions.node.ExpressionNodeFactory"/>
    <entry key="node-name" type="xstring" value="Expression"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Expressions"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.expressions"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.3.v202410291553"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Expressions"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.expressions.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.3.v202410291553"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Expression"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 297, Cols: 36"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="5df3b572-407d-4794-a668-548ea92daf45"/>
    </config>
</config>
